---
layout: default
section: events
---
{% assign curr_date = site.time | date: '%Y-%m-%d' %}
<div class="banner-image" style="background-image:url('https://scontent-atl3-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/1382320_411822695675462_2200320298522083991_n.jpg?oh=59b182bfa25969db2a723e1b96950371&oe=5788F7CE')">
</div>
<div class="banner-overlay-wrapper">
  <div class="banner-image-overlay">

  </div>
  <div class="banner-title">
      <h2>Events</h2>
      <div>
          <p>{{page.description}}</p>
      </div>
  </div>
</div>
<div class="container">
<div class="list-group isotope-list">
{% for item in site.data.events limit:12 sort:start_date, last %}
  {% assign start_date = item.start_time | date: '%Y-%m-%d' %}

      <a href="https://facebook.com/events/{{item.id}}" target="_blank" class="list-group-item col-lg-4 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">{{item.name}}</h4>
        </div>
        <img
          class="img-responsive img-rounded"
          style="top: {{item.cover.offset_y}}%; bottom: {{item.cover.offset_y}}%; left: {{item.cover.offset_x}}%; right:{{item.cover.offset_x}}%;"
          src={{item.cover.source}} alt={{item.name}}
        />
        <div class="panel-body">
          {{item.description | truncatewords: 42}}
        </div>
        <div class="panel-body">
          <strong>Date:</strong>&nbsp;{{item.start_time | date: '%B %d, %Y'}}&nbsp;|&nbsp;
          <strong>Time:</strong>&nbsp;{{item.start_time | date: '%I:%M %p' }} - {{item.end_time | date: '%I:%M %p' }}
        </div>
      </div>
    </a>
    {% if start_date >= curr_date %}
  {% endif %}
{% endfor %}
</div>
</div>
